.main-home {
    position: relative;
}

.main-home .carousel .carousel-inner {
}

.main-home .carousel .carousel-item img {
    width: 100%;
    max-height: 600px;
}

.main-home .icons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main-home .icons {
    text-align: center;
    max-width: 200px;
}

.main-home .titles-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.main-home .titles-container .welcome-title {
    color: var(--negro);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.main-home .titles-container .sale-title {
    color: var(--amarillo);
    width: 100%;
    text-align: center;
    font-weight: bold;
}


.main-home .container-products {
}

.main-home .container-products .product {
    text-align: center;
}

.main-home .container-products .product .figure{position: relative;}

.main-home .container-products .product .figure .product-image {
    height: 300px;
    width: 306px;
    border-radius: 21px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main-home .container-products .product .figure .product-name {
    position: absolute;
    top: 12px;
    left: 25px;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 6px;
    color: rgb(0 0 0 / 55%);
    background-color: var(--amarilloPastel);
}

.additional-button-left {
    width: 100%;
    height: 170px;
}

.image-container img {
    max-width: 95%;
    height: auto;
    padding: 10px;
    display: block;
}

.arrow-btn {
    position: absolute;
    top: 40%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;

}

.arrow-btn.left {
    left: 10px;
}

.arrow-btn.right {
    right: 10px;
}

.buy-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: var(--amarillo);
    border-radius: 30px;
    color: black;
    border: 1px solid black;
    font-size: 16px;
}


/* Círculos indicadores del carrusel */
.circle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fa-circle {
    font-size: 16px;
    margin: 0 5px;
}

/* Iconos de envío, descuento y tarjeta */


.main-home .fa-solid {
    font-size: 20px;
}

.icons h4 {
    font-size: 10px;
    margin: 0;
}

.icons p {
    margin: 5px;
    font-family:var(--familyOpenSans) ;
  font-size: 10px;
}

/* sección de productos recomendados */
.main-homen article{
    width: 300px;
    height: 300px;
    object-fit: cover;
} 


/* sección de veterinario */
.new-image-container {
    position: relative;
    width: 85%;
    height: 270px;
    overflow: hidden;
}

.new-image-container img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.overlay-text {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.overlay-button-left,
.overlay-button-right,
.additional-text-right {
    font-weight: bold;
}

.overlay-button-left,
.overlay-button-right {
    padding: 5px 10px;
    background-color: #fdbc00;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 40px;
}

.additional-text-right {
    margin-top: 5px;
    font-size: 15px;
    color: black;
}

.full-width-image {
    max-width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
}

/* Estilos para la sección de preguntas frecuentes (FAQs) */
    .main-home .pet-section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 0;
        gap: 15px;
        flex-direction: column;
        align-content: center;
    }

    .main-home .pet-section .image-with-list {
        position: relative;
        width: 85%;
        height: 270px;
        overflow: hidden;
    }

    .main-home .pet-section .image-with-list img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .main-home .pet-section .image-with-list .pet-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .main-home .pet-section .image-with-list .pet-content .pet-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .main-home .pet-section .image-with-list .pet-content .pet-list li {
        font-weight: bold;
        font-size: 10px;
    }

    .main-home .pet-section .image-with-list .pet-content .pet-list li a {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li a i {
        margin-right: 5px;
    }
    
    .main-home .pet-section .new-image-container{}

    .main-home .pet-section .new-image-container img{}

    .main-home .pet-section .new-image-container .overlay-content {}

    .main-home .pet-section .new-image-container .overlay-content h3.overlay-text {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-right {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-left {}

    .main-home .pet-section .new-image-container .overlay-content .additional-text-right {}


/* Vista de tablet */
@media (min-width: 426px) {
    .main-home .container-products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-home .container-products .product .figure .product-image{
    margin: 0 10px;
    }

    .main-home .container-products .product .figure .product-name{
    }

    .product {
    }
     .carousel-inner {
        max-height: 600px; /* Ajusta la altura máxima según sea necesario */
    }

    .carousel-item img {
        width: 100%;
        object-fit: fill; /* O el estilo que desees, puede ser contain en lugar de cover */
    }
    
    .main-home .recommendedProd-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .main-home .recommendedProd-container h2 {
        text-align: center;
    }
    
    .main-home .recommendedProd-container .recommendedProd {
    }
    
    .main-home .recommendedProd-container .recommendedProd .recommended-img-container {}
    
    .main-home .recommendedProd-container .recommendedProd .recommended-img-container a {}

    .main-home .recommendedProd-container .recommendedProd .recommended-img-container a img {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description {}

    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description .homeTitleLink {
        width: 100%;
    }
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description .homeTitleLink h5 {
        width: 100%;
    }

    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description h5 a {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description p {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description a.recommendedProd-buyCart {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description a.recommendedProd-buyCart i {}

    .main-home .pet-section {
        flex-direction: row
    }

    .main-home .pet-section .image-with-list {}

    .main-home .pet-section .image-with-list img{}

    .main-home .pet-section .image-with-list .pet-content {}

    .main-home .pet-section .image-with-list .pet-content .pet-list {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li a {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li a i {}


    .main-home .pet-section .new-image-container{}

    .main-home .pet-section .new-image-container img{}

    .main-home .pet-section .new-image-container .overlay-content {}

    .main-home .pet-section .new-image-container .overlay-content h3.overlay-text {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-right {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-left {}

    .main-home .pet-section .new-image-container .overlay-content .additional-text-right {}
} 

@media (min-width: 769px) {
    .carousel-item img {
        width: 100%;
    }

    .main-home .product{
    }

    .main-home .product a {
    }

    .main-home .product a:before{
        content: '';
        display: block;
    }

    .main-home .container-products .product .figure{
        margin: 40px 40px;
    }

    .main-home .container-products .product .figure .product-image{
        filter: brightness(1) saturate(1) contrast(0.8);
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
    }
    
    .main-home .product a:hover .figure .product-image{
        transform: scale(1.05) translateZ(0);
    }

    .main-home .container-products .product .figure .product-name{ 
    }

    .main-home .container-products .product .figure .product-image{
       
    }
    .main-home .recommendedProd-container h2 {
    }
    
    .main-home .recommendedProd-container .recommendedProd {
    }
    
    .main-home .recommendedProd-container .recommendedProd .recommended-img-container {
    }
    
    .main-home .recommendedProd-container .recommendedProd .recommended-img-container a {}

    .main-home .recommendedProd-container .recommendedProd .recommended-img-container a img {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description h5 {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description h5 a {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description p {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description a.recommendedProd-buyCart {}
    
    .main-home .recommendedProd-container .recommendedProd .recommendedProd-description a.recommendedProd-buyCart {}
    
    .main-home .pet-section {}

    .main-home .pet-section .image-with-list {
        width: 45%
    }

    .main-home .pet-section .image-with-list img{}

    .main-home .pet-section .image-with-list .pet-content {}

    .main-home .pet-section .image-with-list .pet-content .pet-list {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li a {}

    .main-home .pet-section .image-with-list .pet-content .pet-list li a i {}

    
    .main-home .pet-section .new-image-container {
        width: 45%
    }

    .main-home .pet-section .new-image-container img {}

    .main-home .pet-section .new-image-container .overlay-content {}

    .main-home .pet-section .new-image-container .overlay-content h3.overlay-text {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-right {}

    .main-home .pet-section .new-image-container .overlay-content .additional-button-left {}

    .main-home .pet-section .new-image-container .overlay-content .additional-text-right {}
    
}