.main-carrito {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
}

.container-cart{
    width: 50%;
    max-width: 670px;
    min-height: 500px;
    min-width: 300px;
    display: flex;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

.container-cart .titulo{
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.container-cart .titulo i.fa-arrow-left{
    display: inline-block;
    font-size: 18px;
}

.container-cart .titulo h1{
    font-size: 22px;
}

.container-cart .titulo i.fa-cart-shopping{
    display: inline-flex;
    font-size: 20px;
}

.container-cart .contenedor-pro {
    padding: 12px;
    flex: 1 1 auto;
}

.container-cart .contenedor-pro h3{
    text-align: center;
    font-weight: 600;
}

.container-cart .contenedor-pro .producto{
    display: flex;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    min-height: 210px;
    margin: auto;
    margin-bottom: 15px;
}

.container-cart .contenedor-pro .producto figure{
    width: 150px;
    margin: auto;
}

.container-cart .contenedor-pro .producto figure img{
    width: 100%;
}

.container-cart .contenedor-pro .producto .info-container {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.container-cart .contenedor-pro .producto .info-container .btn{
    background-color: var(--celeste);
    color: var(--blanco);
    transition: all 500ms;
}

.container-cart .contenedor-pro .producto .info-container .btn:hover{
    background-color: var(--celesteRGBA);
}

.container-cart .contenedor-pro .producto .info-container .close-button {
    top: 0;
    right: 1px;
    position: absolute;
}

.container-cart .contenedor-pro .producto .info-container .close-button i {
    padding: 3px;
}

.container-cart .contenedor-pro .producto .info-container h5 {
    width: 100%;
    margin: auto;
    font-size: calc(0.8rem + 0.6vw);
}

.container-cart .contenedor-pro .producto .info-container .quantity-container {
    gap: 5px;
    margin: auto;
    padding: 10px;
}

.container-cart .contenedor-pro .producto .info-container .quantity-container label {

}

.container-cart .contenedor-pro .producto .info-container .quantity-container .btn-light {}

.container-cart .contenedor-pro .producto .info-container .quantity-container output {
    border-radius: 20px;
}

.container-cart .contenedor-pro .producto .info-container .viewMore {
    width: 50%;
    margin: auto;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 10px;
}

.container-cart .contenedor-pro .producto h4{
    text-align: center;
}

.container-cart .contenedor-pro .producto a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    /* color: var(--naranjaig); */
    font-weight: bolder;
}

.container-cart .contenedor-pro .producto p.cantidad{
    width: 50%;
    text-align: center;
}

.container-cart .contenedor-pro .producto p.precio{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50%;
}

.container-cart .contenedor-pro .producto p.conEnvio{
    width: 50%;
    text-align: center;
}

.container-cart .contenedor-pro .producto p.costoEnvio{
    width: 50%;
    text-align: center;
}

.container-cart .contenedor-pro .contenedor-total{
    display: flex;
    margin: 20px 0;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.container-cart .contenedor-pro .contenedor-total p.total{
    width: 50%;
    text-align: center;
    font-weight: bolder;
}

.container-cart .contenedor-pro .contenedor-total p.monto{
    width: 50%;
    text-align: center;
}

.cartButtonsContainer{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}
.cartButtonsContainer .btnClear {
    margin: auto;
    padding: 5px;
    color: var(--blanco);
    background-color: var(
    --celeste);
    border: none;
    font-weight: bold;
    transition: all 600ms;
}

.cartButtonsContainer .btnClear:hover {
    background-color: var(--celesteRGBA);
    color: var(--blanco);
}

.cartButtonsContainer button.btnBuy {
    margin: auto;
    padding: 5px;
    color: var(--blanco);
    background-color: var(--celeste);
    border: none;
    font-weight: bold;
    transition: all 400ms;
}

.cartButtonsContainer button.btnBuy:hover {
    background-color: var(--celesteRGBA);
    color: var(--blanco);
}

.cartButtonsContainer h5 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    width: 50%;
}
.cartButtonsContainer p {
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
}
.cartButtonsContainer p output {
}

.cartButtonsContainer a.viewMoreLink {
    font-size: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--celeste);
    transition: all 600ms;
}

.cartButtonsContainer a.viewMoreLink:hover {
    color: var(--grisOscuro);
}

.main-carrito .cartButtonsContainer {
    display: flex;
    margin: 10px !important;
    border-radius: 12px;
    text-align: center;
    max-width: 324px;
    max-height: 140px;
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

@media (min-width: 769px) {
.main-carrito {
}
    
.container-cart{
}

.container-cart .titulo{
    width: 100%;
    margin: auto;
}

.container-cart .titulo i.fa-arrow-left{}

.container-cart .titulo h1{}

.container-cart .titulo i.fa-cart-shopping{}

.container-cart .contenedor-pro{
}

.container-cart .contenedor-pro h3{}

.container-cart .contenedor-pro .producto{
}

.container-cart .contenedor-pro .producto figure{}

.container-cart .contenedor-pro .producto figure img{}

.container-cart .contenedor-pro .producto .info-container {}

.container-cart .contenedor-pro .producto .info-container .close-button {
}

.container-cart .contenedor-pro .producto .info-container .close-button i {}


.container-cart .contenedor-pro .producto .info-container h5 {

}

.container-cart .contenedor-pro .producto .info-container .quantity-container {

}

.container-cart .contenedor-pro .producto .info-container .quantity-container label {

}

.container-cart .contenedor-pro .producto .info-container .quantity-container .btn-light {}

.container-cart .contenedor-pro .producto .info-container .quantity-container output {}

.container-cart .contenedor-pro .producto .info-container .viewMore {
    
}

.container-cart .contenedor-pro .producto h4{}

.container-cart .contenedor-pro .producto a{}

.container-cart .contenedor-pro .producto p.cantidad{}

.container-cart .contenedor-pro .producto p.precio{}

.container-cart .contenedor-pro .producto p.conEnvio{}

.container-cart .contenedor-pro .producto p.costoEnvio{}

.container-cart .contenedor-pro .contenedor-total{}

.container-cart .contenedor-pro .contenedor-total p.total{}

.container-cart .contenedor-pro .contenedor-total p.monto{}

.cartButtonsContainer{}

.cartButtonsContainer button.btnBuy{} 

.cartButtonsContainer a.viewMoreLink{
    font-size: 18px;
    font-weight: bolder;
}
.main-carrito .cartButtonsContainer {}

}

@media (min-width: 1024px) {

.container-cart{
}

.container-cart .titulo{}

.container-cart .titulo i.fa-arrow-left{}

.container-cart .titulo h1{}

.container-cart .titulo i.fa-cart-shopping{}

.container-cart .contenedor-pro{
}

.container-cart .contenedor-pro h3{}

.container-cart .contenedor-pro .producto{}

.container-cart .contenedor-pro .producto figure{}

.container-cart .contenedor-pro .producto figure img{}

.container-cart .contenedor-pro .producto h4{}

.container-cart .contenedor-pro .producto a{}

.container-cart .contenedor-pro .producto p.cantidad{}

.container-cart .contenedor-pro .producto p.precio{}

.container-cart .contenedor-pro .producto p.conEnvio{}

.container-cart .contenedor-pro .producto p.costoEnvio{}

.container-cart .contenedor-pro .contenedor-total{}

.container-cart .contenedor-pro .contenedor-total p.total{}

.container-cart .contenedor-pro .contenedor-total p.monto{}

.container-cart .contenedor-pro .producto .info-container .close-button {
}

.container-cart .contenedor-pro .producto .info-container .close-button  i {}
.cartButtonsContainer{}

.cartButtonsContainer button.btnBuy{}


.cartButtonsContainer a.viewMoreLink{} }