body {}

.register-main {
    background: linear-gradient(
    rgba(200, 205, 218, 0.5), 
    rgba(200, 205, 218, 0)), 
    url(/images/authentication/fondo-login.jpeg);
    background-repeat: no-repeat;
    height: 740px;
    background-position: center;
    background-size: cover;
}

.register-main .imgProductForm input[type="file"]::file-selector-button {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--amarillo);
    transition: 1s;
  }
  
.register-main .imgProductForm input[type="file"]::file-selector-button:hover {
    background-color:var(--naranjaig);
    color: var(--blanco);
}

main .contenedor-registro{
    padding-top: 2em;
}
    
main.register-main h1 {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    font-family: var(--familyOpenSans);
    color: var(--grisOscuro);
    text-align: center;
}

.imgProductForm {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgProductForm label.form-label img {
    width: 100px;
    border-radius: 50%;
    margin: 20px;
}

main.register-main form.form-principal {
    background-color: rgb(253 200 37 / 70%);
    border-radius: 10px;
    margin: auto;
    max-width: 75vw;
}

main.register-main form.form-principal .registerAvatarInput {
    width: 135px;
    text-align: center;
}

main.register-main form.form-principal .registerAvatarError {
    width: 100%;
    text-align: center;
    color: var(--rojo);
}

main.register-main form.form-principal .contenedor-form {
    width: 90%;
    margin: auto;
}

main.register-main form.form-principal .contenedor-form .nombre {border-radius: 3px;border: none;font-size: 16px;padding-left: 5px;}

main.register-main form.form-principal .contenedor-form .nombre label {
    width: 90%;
    color: var(--grisOscuro);
    font-weight: bold;
}

main.register-main form.form-principal .contenedor-form .nombre input {
    margin: 10px 0;
    padding: 5px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.is-valid{
    color: aqua;
    border: 2px solid aqua;
}

main.register-main form.form-principal .contenedor-form .email {width: 100%;border-radius: 3px;border: none;font-size: 16px;padding-left: 5px;}

main.register-main form.form-principal .contenedor-form .email label {
    width: 90%;
    color: var(--grisOscuro);
    font-weight: bold;
}

main.register-main form.form-principal .contenedor-form .email input {
    margin: 10px 0;
    padding: 5px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

main.register-main form.form-principal .contenedor-form .contrasenia {width: 100%;border-radius: 3px;border: none;font-size: 16px;padding-left: 5px;}

main.register-main form.form-principal .contenedor-form .contrasenia label {
    width: 90%;
    color: var(--grisOscuro);
    font-weight: bold;
}

main.register-main form.form-principal .contenedor-form .contrasenia input {
    margin: 10px 0;
    padding: 5px;
    border: none;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 4px;
    width: 100%;
}

main.register-main form.form-principal .recaptcha {}

main.register-main form.form-principal .contenedor-button {
}

main.register-main form.form-principal .contenedor-button .boton {
    text-align: center;
}

main.register-main form.form-principal .contenedor-button .boton a.whatsApp {
}

main.register-main form.form-principal .contenedor-button button.submit {
    width: 40%;
    padding: 10px 0;
    background-color: var(--naranjaig);
    /* margin: 20px 0; */
    border-radius: 8px;
    border: 1px solid #c1a554;
    color: var(--blanco);
    transition: all 400ms;
}

main.register-main form.form-principal .contenedor-button button.submit:hover {
    background-color: rgb(210, 90, 53);
    color: white;
}

main.register-main form.form-principal .contenedor-button .inicio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

main.register-main form.form-principal .contenedor-button p {
    margin: 20px 0;
    width: 50%;
    text-align: center;
}

main.register-main form.form-principal .contenedor-button a.inicio-session {
    margin: 20px 0 20px 0px;
    color: var(--naranja);
    width: 47%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    transition: all 0.5s;
    font-weight: bold;
    text-decoration: none;
}

main.register-main form.form-principal .contenedor-button a.inicio-session:hover {
    color: rgb(215, 104, 104);
}

.contenedor-form p.text-danger-error {
    color: red;
    width: 100%;
    text-align: center;
}

p.text-danger-error {
    display: inline-block;
}

main.register-main label.form-label {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 100%;
}



/* tablet register */

@media (min-width: 426px) {
    body {}

    main.register-main {}

    main.register-main h1 {}

    main.register-main form.form-principal {
    max-width: 21em;
    }

    main.register-main form.form-principal .contenedor-form {}

    main.register-main form.form-principal .contenedor-form .nombre {}

    main.register-main form.form-principal .contenedor-form .nombre label {}

    main.register-main form.form-principal .contenedor-form .nombre input {}

    main.register-main form.form-principal .contenedor-form .email label {}

    main.register-main form.form-principal .contenedor-form .email input {}

    main.register-main form.form-principal .contenedor-form .email {}

    main.register-main form.form-principal .contenedor-form .contrasenia {}

    main.register-main form.form-principal .contenedor-form .contrasenia label {}

    main.register-main form.form-principal .contenedor-form .contrasenia input {}

    main.register-main form.form-principal .recaptcha {}

    main.register-main form.form-principal .contenedor-button {}

    main.register-main form.form-principal .contenedor-button .boton {}

    main.register-main form.form-principal .contenedor-button button.submit {}

    main.register-main a.whatsApp {}

    main.register-main form.form-principal .contenedor-button .boton a.whatsApp .fa-whatsapp {}


    main.register-main form.form-principal .contenedor-button p {}

    main.register-main form.form-principal .contenedor-button .inicio {}

    main.register-main form.form-principal .contenedor-button a.inicio-session {}


}



/* destok escritorio */

@media (min-width: 768px) {

    body {
    }

    main .contenedor-registro{
        padding-top: 5em;
    }

    main.register-main {
    }

    main.register-main h1 {}

    main.register-main form.form-principal {
    }

    main.register-main form.form-principal .contenedor-form {}

    main.register-main form.form-principal .contenedor-form .nombre {
    }

    main.register-main form.form-principal .contenedor-form .nombre label {
    }

    main.register-main form.form-principal .contenedor-form .nombre input {
    }

    main.register-main form.form-principal .contenedor-form .email {
    }

    main.register-main form.form-principal .contenedor-form .email label {
    }

    main.register-main form.form-principal .contenedor-form .email input {
    }

    main.register-main form.form-principal .contenedor-form .contrasenia {
    }

    main.register-main form.form-principal .contenedor-form .contrasenia label {
    }

    main.register-main form.form-principal .contenedor-form .contrasenia input {
    }

    main.register-main form.form-principal .recaptcha {
    }

    main.register-main form.form-principal .contenedor-button {
    }

    main.register-main form.form-principal .contenedor-button .boton {
    }

    main.register-main form.form-principal .contenedor-button .boton a.whatsApp {
    }

    main.register-main form.form-principal .contenedor-button .boton .fa-whatsapp {
    }

    main.register-main form.form-principal .contenedor-button button.submit {
    }

    main.register-main form.form-principal .contenedor-button .inicio {
    }

    main.register-main form.form-principal .contenedor-button p {}

    main.register-main form.form-principal .contenedor-button a.inicio-session {}


}