.usersProfile {
}

.usersProfile h1 {
    font-weight: bold;
    margin: 0;
    color: var(--amarillo);
    margin-top: 15px;
}

.usersProfile .div-form{
    margin: 16px;
}

.usersProfile .div-form .form{
    margin: 0 auto;
    background-color: var(--amarillo);
    max-width: 415px;
    border-radius: 14px;
}

.usersProfile .div-form .form .div-avatar{
    display: flex;
    justify-content: center;
}

.usersProfile .div-form .form .div-avatar label{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.usersProfile .div-form .form .div-avatar label p{
    text-align: center;
    position: unset !important;
}

.usersProfile .div-form .form .div-avatar label img{
    width: 200px;
    border-radius: 50%;
    display: flex;
}

.usersProfile .div-form .form .div-avatar label .img-input{
    width: 152px;
}

.usersProfile .div-form .form .div-avatar label input[type="file"]::file-selector-button{
    border: none;
    margin: 10px 0;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--naranjaig);
    transition: 1s;
}
  
.usersProfile .div-form .form .div-avatar  input[type="file"]::file-selector-button:hover {
    background-color: var(--naranja);
    color: var(--blanco);
}

.usersProfile .div-form .form .div-inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.usersProfile .div-form .form .div-inputs .input{
    width: 255px;
    border: none;
    border-radius: 6px;
    padding: 4px;
    }

.usersProfile .div-form .form .div-inputs .div-name{
}

.usersProfile .div-form .form .div-inputs .div-name label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-name .input{
}

.usersProfile .div-form .form .div-inputs .div-tel{}

.usersProfile .div-form .form .div-inputs .div-tel label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-tel.input{
}

.usersProfile .div-form .form .div-inputs .div-address{
}

.usersProfile .div-form .form .div-inputs .div-address label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-address .input{
}

.usersProfile .div-form .form .div-inputs .div-city{
}

.usersProfile .div-form .form .div-inputs .div-city label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-city .input{
}

.usersProfile .div-form .form .div-inputs .div-province{
}

.usersProfile .div-form .form .div-inputs .div-province label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-province .input{
}

.usersProfile .div-form .form .div-inputs .div-zipcode{
}

.usersProfile .div-form .form .div-inputs .div-zipcode label{
    display: block;
}

.usersProfile .div-form .form .div-inputs .div-zipcode .input{
}

.usersProfile .div-form .form .buttons{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.usersProfile .div-form .form .buttons .button{
    margin: 2px;
    padding: 3px !important;
}


@media (min-width: 426px) {

    .usersProfile {
    }
    
    .usersProfile h1 {
    }
    
    .usersProfile .div-form{
    }
    
    .usersProfile .div-form .form{
    }
    
    .usersProfile .div-form .form .div-avatar{
    }
    
    .usersProfile .div-form .form .div-avatar label{
    }
    
    .usersProfile .div-form .form .div-avatar label p{
    }
    
    .usersProfile .div-form .form .div-avatar label img{
    }
    
    .usersProfile .div-form .form .div-avatar label .img-input{
    }
    
    .usersProfile .div-form .form .div-avatar label input[type="file"]::file-selector-button{
    }
    
    .usersProfile .div-form .form .div-inputs{
    display: flex;
    justify-content: space-around;
    }
    
    .usersProfile .div-form .form .div-inputs .input{
    width: 182px;
    }
    
    .usersProfile .div-form .form .div-inputs .div-name{
    }
    
    .usersProfile .div-form .form .div-inputs .div-name label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-name .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel.input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode .input{
    }
    
    .usersProfile .div-form .form .buttons{
    }
    
    .usersProfile .div-form .form .buttons .button{
    }    

}



/* destok escritorio */

@media (min-width: 768px) {
    
    .usersProfile {
    }
    
    .usersProfile h1 {
    }
    
    .usersProfile .div-form{
    }
    
    .usersProfile .div-form .form{
    }
    
    .usersProfile .div-form .form .div-avatar{
    }
    
    .usersProfile .div-form .form .div-avatar label{
    }
    
    .usersProfile .div-form .form .div-avatar label p{
    }
    
    .usersProfile .div-form .form .div-avatar label img{
    }
    
    .usersProfile .div-form .form .div-avatar label .img-input{
    }
    
    .usersProfile .div-form .form .div-avatar label input[type="file"]::file-selector-button{
    }
    
    .usersProfile .div-form .form .div-inputs{
    }
    
    .usersProfile .div-form .form .div-inputs .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-name{
    }
    
    .usersProfile .div-form .form .div-inputs .div-name label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-name .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-tel.input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-address .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-city .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-province .input{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode label{
    }
    
    .usersProfile .div-form .form .div-inputs .div-zipcode .input{
    }
    
    .usersProfile .div-form .form .buttons{
    }
    
    .usersProfile .div-form .form .buttons .button{
    }    

}