<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body style="background-color: #407FB9; text-align: center;">
    <h1 style="color: white;">Te damos la bienvenida a Dokyshop</h1>
    <div style="margin: auto;">
        <a href="https://dokyshop.cleverapps.io">
            <img style="width: 200px;" src="cid:logo@dokyshop.com" alt="Embedded Image">
        </a>
    </div>
    <div style="padding: 20px; color: white;">
        <b>Gracias por suscribirte a nuestras noticias!</b>
        <br>
        <b>te estaremos enviando nuestras novedades</b>
    </div>    
    <a style="padding: 10px; background-color:  #a0c5e8c2; color: #334558; border-radius: 20px; text-decoration: none;" href="https://dokyshop.cleverapps.io">DOKYSHOP</a>
    <br>
    <br>
</body>
</html>