<footer class="main-footer">
    <div class="logo-container">
        <a class="logo-link" href="/"><img class="logo-footer" src="/images/icon/logo.png" alt="logo"></a>
    </div>
    <div class="links-container">
        <h3 class="links-title">ENLACES</h3>
        <nav class="links-nav">
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/productos?subcategory=1">indumentaria</a></li>
                <li><a href="/productos?subcategory=2">accesorios</a></li>
                <li><a href="/productos?subcategory=3">juguetes</a></li>
                <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
    <div class="contact-container">
        <h3 class="contact-title">CONTACTO</h3>
        <nav class="contact-nav">
            <ul>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i> (011) 9 6323-0839</a></li>
                <li><a href="mailto:dokyshop@gmail.com"><i class="fa-regular fa-envelope"></i> noreply.dokyshop@gmail.com</a></li>
            </ul>
        </nav>
    </div>
    <div class="socials-container">
        <h3 class="socials-title">REDES SOCIALES</h3>
        <nav class="socials-nav">
            <ul>
                <li><a class="x" href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a class="facebook" href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="instagram" href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="tiktok" href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="newsletter-container">
        <form class="newsletter-form" action="/" method="POST">
            <div class="newsletter-title-container">
                <h3 class="newsletter-title">SUSCRIBITE</h3>
            </div>
            <div class="text-container">
                <p>Recibí nuestras ofertas y novedades exclusivas</p>
            </div>
            <div class="email-container position-relative">
                <input type="email" placeholder="correo electronico" name="newsletterEmail" id="newsletterEmail" value="" autocomplete="on">
                <p class="err-email"></p>
            </div>  
            <div class="suscribe-container">
                <button type="submit">suscribirse</button>
            </div>
        </form>
    </div>
    <div class="copyright-container">
        <p>Copyright DOKYSHOP - 2024. Todos los derechos reservados.</p>
    </div>
</footer>
<script src="/js/validations/newsletter.js"></script>