<header class="main-header">
    <div class="top-bar">
        <span class="free-ship">ENVIOS GRATIS A PARTIR DE $25.000</span>
        <button class="burger-menu hamburger hamburger--spin" type="button">
            <span class="burger-container hamburger-box">
              <span class="burger hamburger-inner"></span>
            </span>
        </button>
        <div class="logo-container">
            <a href="/"><img src="/images/icon/logo.png" alt="logo"></a>
        </div>
        <div class="search-bar">
            <form class="search-form" action="/buscar" method="get">
                <label for="productSearched"></label>
                <input type="text" name="productSearched" id="productSearched" placeholder="¿Que estas buscando?">
                <button type="submit" class="search-icon">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <nav class="user-nav" id="user-nav">
            <ul class="user-list">
            <% if (!locals.userLogin) { %>
                <li><a href="/autenticacion/iniciar">Iniciar sesión</a></li>
                <li><span class="separator">|</span></li>
                <li><a href="/autenticacion/registro">Registrate</a></li>
            <% } else {  %>
                <li class="user-avatar-list">
                    <a href="/usuario/perfil">
                        <img class="profile-avatar" src="/images/avatar<% if (locals.userLogin?.avatar == 'perfilUser.png') { %>/default<% } %>/<%= locals.userLogin?.avatar %>" alt="avatar image">
                        <%= locals.userLogin?.name %>
                    </a>
                </li>
                <li class="user-logout">
                    <a href="/autenticacion/cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
              <% } %> 
            </ul>
        </nav>
        <div class="buy-cart-container">
            <a class="buy-cart" href="/carrito-compra"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    
    <nav class="main-nav" id="navigation">
        <ul class="main-list" id="main-list">
            <li class="list-index"><a class="a-index" href="/">INICIO</a></li>
            <li class="list-products"><a class="a-products" href="/productos">PRODUCTOS</a></li>
            <% if (locals.userLogin?.roleId === 2) { %>
                <li class="list-index"><a class="a-index" href="http://localhost:5173/">ADMINISTRADOR</a></li>
            <% } %>
            <div class="dropdown list-contact">
                <button class="btn-header dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">CONTACTO</button>
                <ul class="dropdown-menu">
                  <li class="li-btn-contact"><a class="dropdown-item" href=""><i class="fa-brands fa-square-whatsapp"></i>1163230839</a></li>
                  <li class="li-btn-contact"><a class="dropdown-item" href="mailto:dokyshop@gmail.com"><i class="fa-solid fa-envelope"></i>noreply.dokyshop@gmail.com</a></li>
                </ul>
              </div>
        </ul>
    </nav>

</header>