<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', {view: "Carrito de compras",
  gliderCSSDisabled:true}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-carrito d-flex flex-wrap">
      <div class="container-cart">
        <div class="contenedor-pro">
          <h3>Productos</h3>

          <div class="producto">
            <figure>
              <img src="/images/products/ratitas.png" alt="foto producto" />
            </figure>
            <div class="info-container">
              <button class="close-button fs-5 p-0 border-0 bg-transparent text-danger">
                <i class="rounded-circle btn-clear far fa-times-circle"></i>
              </button>
              <h5>Ratita Piel con cola x 3</h5>
              <p class="precio">$ 3.500</p>
              <div class="d-flex align-items-center quantity-container">
                <button class="btn btn-warning">-</button>
                <output class="quantity form-control form-control-sm text-center">1</output>
                <button class="btn btn-warning">+</button>
              </div>
              <button class="btn btn-warning viewMore">Ver más</button>
            </div>
          </div>

        </div>
      </div>

      <div class="cartButtonsContainer card d-flex m-auto">
        <div class="card-body d-flex justify-content-evenly align-items-center flex-wrap">
          <button class="btn btnClear mb-2" id="clear-cart">
            Vaciar Carrito
          </button>
          <button class="btn btnBuy mb-2" id="btn-buy">Comprar</button>
          <a href="/productos" class="viewMoreLink mb-2">Ver más productos</a>
          <h5 class="card-title">Total</h5>
          <p class="card-text">$ <output id="show-total">0</output></p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %> <%- include('../partials/scripts',
    {disabledGliderJS:true}) %>
  </body>
</html>