<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', {view: "Carrito de compras",
  gliderCSSDisabled:true}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-carrito d-flex flex-wrap">
      <div class="container-cart">
        <div class="contenedor-pro">
          
        </div>
      </div>

      <div class="cartButtonsContainer card d-flex m-auto">
        <div class="card-body d-flex justify-content-evenly align-items-center flex-wrap">
          <button class="btn btnClear mb-2" id="clear-cart">
            Vaciar Carrito
          </button>
          <button class="btn btnBuy mb-2" id="btn-buy">Comprar</button>
          <a href="/productos" class="viewMoreLink mb-2">Ver más productos</a>
          <h5 class="card-title">Total</h5>
          <p class="card-text">$ <output id="show-total">0</output></p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %> <%- include('../partials/scripts',
    {disabledGliderJS:true}) %>
    <script src="./js/functions/cart.js"></script>
  </body>
</html>